.container {
  margin: 100px 200px;
}

/* .cell {
  margin-left:2% !important;
  margin-right:2% !important;
} */

.PaperText {
  text-align: center;

}

 .confirmedC {

}
.recoveredC {

}
.deathC {

}